<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un utilisateur</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1> Ajout d'un utilisateur</h1>
    <div>
        <form method="POST" action="POST">
            <label for="">Nom</label> <input type="text"  name="" id="" value=""/><br />
            <label for="">Prénom</label> <input type="text"  name="" id="" value=""/><br />
            <label for="">Téléphone</label> <input type="tel"  name="" id="" value=""/><br />
            <label for="">Mail</label> <input type="mail"  name="" id="" value=""/><br />
            <label for="">Identifiant</label> <input type="text"  name="" id="" value=""/><br />
            <label for="">Mot de passe</label> <input type="password"  name="" id="" value=""/><br />
            <input type="submit" name="Enregistrer" value="Enregistrer" /> </form>
    </div>
</body>
</html>