<div class='collapse navbar-collapse' id='navbarNavDarkDropdown'>
          <ul class='navbar-nav'>
            <li class='nav-item'>
              <a class='nav-link active' aria-current='page' href='index.php'>Accueil</a>
            </li>
            <li class='nav-item'><a class='nav-link active' href='http://rembours/index.php?action=ajoutRembour'>Ajout demande remboursement</a><a class='nav-link active' href='http://rembours/index.php?action=consultTousRembour'>Voir toutes les demandes</a><a class='nav-link active' href='http://rembours/index.php?action=consultProfil'>Profil</a><a class='nav-link active' href='http://rembours/index.php?action=modifMdp'>Changement mot de passe</a></li>
                                    </ul>
                                </div>