<div class='collapse navbar-collapse' id='navbarNavDarkDropdown'>
          <ul class='navbar-nav'>
            <li class='nav-item'>
              <a class='nav-link active' aria-current='page' href='index.php'>Accueil</a>
            </li>
            <li class='nav-item'><a class='nav-link active' href='http://rembours/index.php?action=ajoutRembour'>Ajout demande remboursement</a></li><a class='nav-link active' href='http://rembours/index.php?action=consultTousRembour'>Voir toutes les demandes</a></li><a class='nav-link active' href='http://rembours/index.php?action=modifRembour'>Modif frais</a></li><a class='nav-link active' href='http://rembours/index.php?action=ajoutUtilisateur'>Ajout utilisateur</a></li><a class='nav-link active' href='http://rembours/index.php?action=consultProfil'>Profil</a></li><a class='nav-link active' href='http://rembours/index.php?action=modifMdp'>Changement mot de passe</a></li></ul></div>